.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.imgContainer{
    width: 30%;
    margin: 5px;
    background-color: green;
}

.cardS{
    flex: 1;
}
.title{
    font-weight: 400;
    color: white;
    background-color:#FF1E00;
    padding: 5px;
    width: max-content;
    border: 1px solid transparent;
    border-radius: 10px;
}

.cardL{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
}