.container{
    height: 250px;
    border-top: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    padding: 50px;
}
.title{
    font-weight: 400;
    color: white;
    background-color:#FF1E00;
    padding: 5px;
    width: max-content;
    border: 1px solid transparent;
    border-radius: 10px;
}
.linkTitle{
    text-decoration: underline;
}

.link{
    display: flex;
    align-items: center;
}
.linkTest{
    margin-right: 20px;
}
.cardL{
    flex:2;
}
.cardS{
    flex: 1;
}

.cardItem{
    margin-bottom: 20px;
}