.container{
    width: 100%;
    height: calc(100vh - 50px);
    background-color:darkgrey;
    display: flex;
}

.card{
    flex: 1;
    padding: 100px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.title{
    font-size: 50px;
    margin: 0;
}
.brand{
    color: #FF1E00;

}
.desc{
    font-size: 20px;
    margin: 0;
}
.button{
    border: none;
    background-color: #FF1E00;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}