.container{
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 100px;
}
.title{
    text-align: center;
    margin: 0;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-arounds;
}
.card{
    width: 30%;

}
.info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.username{
    font-weight: bold;
    color:#555;

}
.jobtitle{
    font-size: 14px;
}